h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url(background1.jpg);
    text-align: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

